* {
	margin-top: 0;
}

body {
	background-color: #ffb97c;
}

img {
	background-color: black;
	max-width: 100%;
	mix-blend-mode: multiply;
	border-radius: 2px;
}

img.no-effect {
	mix-blend-mode: normal;
}

#__next {
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
	line-height: 1.8;
	font-size: 1.1rem;
	padding: 2rem 0.25rem 0.25rem;
}

@media screen and (min-width: 800px) {
	#__next {
		padding: 0;
		box-sizing: border-box;
		margin: 6rem auto;
		max-width: 42rem;
		width: 100%;
	}
}

/*
	Links are wrapped in brackets—"{}" for internal links and "[]" for external
*/

a {
	color: inherit;
	text-decoration: none;
}

a:before,
a:after {
	opacity: 0.3;
}

a[href^='http']:before {
	content: '[';
}

a[href^='http']:after {
	content: ']';
}

a[href^='/']:before {
	content: '{';
}

a[href^='/']:after {
	content: '}';
}

/* @media (prefers-color-scheme: dark) {
	body {
		background-color: #b6c9c4;
		color: #284838;
	}
} */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
}

h1,
h2 {
	text-transform: lowercase;
}

.small {
	font-size: 0.8rem;
}

footer {
	margin-top: 3rem;
}

.sitemap summary {
	margin-top: 4rem;
	margin-bottom: 0;
	display: block;
}

.sitemap summary h2 {
	font-size: 1.1rem;
}

.sitemap-links {
	padding: 0;
	margin: 0;
	list-style: none;
	margin-bottom: 2rem;
	text-transform: lowercase;
}
details summary::-webkit-details-marker {
	display: none;
}

canvas {
	background-color: #808a80;
	width: 100%;
}

.aspect-4-3 {
	aspect-ratio: 16 / 9;
}

button {
	appearance: none;
	background-color: transparent;
	border: 2px solid currentcolor;
	border-radius: 3px;
	padding: 8px;
	font-weight: bold;
	font-family: monospace;
}

a:focus,
a:hover,
summary:focus,
summary:hover {
	outline: none;
	cursor: pointer;
	text-decoration: underline;
}

button:focus,
button:hover {
	box-shadow: 7px 4px 11px red, -7px -6px 11px olive;
	outline: none;
	cursor: pointer;
	border-radius: 2px;
}

.split {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
